* {
  font-family: Arial, Helvetica, sans-serif
}

body {
  padding: 20px;
}

input {
  font-size: 1.5;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  text-align: center;
  border: 10px solid;
  border-image: linear-gradient(45deg, crimson, darkviolet, cyan ) 1;
  border-radius: 6px;
  margin-bottom: 15px;
  overflow: hidden;
  
}